@charset "UTF-8";

@font-face {
  font-family: "dm-regular";
  src: url("/static/fonts/DMSans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #0d0e11;
}

#card-text {
  width: 27%;
  height: auto;
  min-width: 320px;
  background-color: #272729;
  padding: 1.35rem;
  border: 1px solid rgb(2, 2, 2);
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.405);
  border-radius: 15px;
}

#icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #47a7fa;
  border-radius: 50%;
  padding: 10px;
  box-sizing: content-box;
  margin: 10px auto 1rem auto;
}

#icon img {
  width: 85%;
  display: block;
}

#card-text h1,
p {
  font-family: "dm-regular", sans-serif;
  text-align: center;
}

#card-text h1 {
  color: aliceblue;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 0.5rem;
}

#card-text .paragrafo {
    margin-bottom: 25px;
}

#card-text p {
  color: #9dbdff;
  font-size: 1.1em;
  margin-bottom: 10px;
}

#card-text label {
  color: aliceblue;
  font-size: 1em;
  font-family: "dm-regular";
}

#card-text input[type="text"],
#card-text input[type="email"],
#card-text input[type="password"] {
  width: 100%;
  height: 35px;
  padding-left: 8px;
  border-radius: 8px;
  margin-bottom: 0.75rem;
}

#card-text input[type="submit"] {
  background-color: #47a7fa;
  color: #000000;
  font-size: 1.2em;
  width: 100%;
  height: 40px;
  margin-bottom: 0.75rem;
  border-radius: 8px;
}

#card-text input[type="submit"]:hover {
  filter: brightness(0.9);
}

#card-text .erro {
  color: #DC2626;
  margin-bottom: 0.5rem;
}

#card-text #return_login,
#card-text #return_cadastro {
  color: aliceblue;
  text-decoration: none;
}

#card-text a {
  text-decoration: none;
  color: #9dbdff;
}

#card-text a:hover {
  text-decoration: underline;
}
